---
import config from "../../config.mjs";
import SocialIcon from "./SocialIcon.astro";
---

<div class="w-full h-[1px] overflow-hidden gradient-line"></div>
<div
  class="py-14 transition-all duration-300 bg-gradient-to-r from-cosmos-secondary/10 to-cosmos-accent/10 dark:bg-gradient-to-r dark:from-cosmos-accent/[2%] dark:to-cosmos-secondary/[5%]"
>
  <footer
    class="container mx-auto max-w-screen-xl flex flex-initial lg:flex-row flex-col gap-10 items-center px-7"
  >
  </footer>
</div>
