---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  href: string;
}

const { href, class: className, ...rest } = Astro.props as Props;
---

<a
  href={href}
  {...rest}
  class:list={[
    "menu-link text-cosmos-white/70 hover:text-cosmos-accent transition-colors duration-200",
    className,
  ]}
>
  <slot name="icon" />
  <slot />
</a>
