---
import { Icon } from "astro-icon";

const { socialUrl = false, socialType } = Astro.props;
---

{
  socialUrl && (
    <li>
      <a href={socialUrl} target="_blank" aria-label={socialType + "link"}>
        <Icon
          name={socialType}
          class="w-auto h-[15px] transition-colors duration-300 fill-cosmos-white/60 hover:fill-cosmos-accent"
        />
      </a>
    </li>
  )
}
