---
import { Image } from "astro:assets";
import { getEntry, render } from "astro:content";
import dylan from "../../assets/dylan.jpg";
import california from "../../assets/slide-1.jpg";
import rosette from "../../assets/slide-2.jpg";
import pinwheel from "../../assets/slide-3.jpg";
import chaos from "../../assets/slide-4.jpg";

interface Slide {
  src: ImageMetadata;
  alt: string;
  extraClass?: string;
}

const slides: Slide[] = [
  {
    src: rosette,
    alt: "Rosette Nebula in false color",
    extraClass: "rotate-2",
  },
  {
    src: pinwheel,
    alt: "Pinwheel Galaxy in monochrome",
    extraClass: "-rotate-1",
  },
  { src: california, alt: "California in false color", extraClass: "rotate-1" },
  {
    src: chaos,
    alt: "Phase space visualization of a chaotic optomechanical system",
    extraClass: "-rotate-2",
  },
];

const aboutPage = await getEntry("page", "about-me");

const { Content } = aboutPage
  ? await render(aboutPage)
  : { Content: () => null };
---

<section
  class="container mx-auto max-w-screen-lg px-7 lg:min-h-[500px] content-center font-cosmos prose md:prose-xl prose-headings:font-cosmos-space prose-headings:mt-5 prose-headings:text-cosmos-dark prose-headings:font-bold lg:prose-h1:text-7xl prose-h1:mt-0 prose-heading:transition-all prose-heading:duration-300 prose-p:text-cosmos-primary/50 dark:prose-p:text-white/70 prose-p:mb-0 prose-p:transition-all prose-p:duration-300 prose-img:mt-0 prose-img:mb-0 dark:prose-headings:text-white"
>
  <div class="after:content-[''] after:block after:clear-both md:text-justify">
    <div class="not-prose">
      <Image
        src={dylan}
        width={200}
        alt="A photo of Dylan"
        loading="eager"
        decoding="sync"
        class="block w-40 sm:w-[200px] rounded-[15px] float-left mr-4"
      />
    </div>
    <Content />
  </div>
</section>

<section class="flex justify-center gap-5 sm:gap-10 overflow-hidden py-4">
  {
    slides.map((slide) => {
      const classes = `relative w-28 sm:w-3/12 flex-none overflow-hidden dark:bg-cosmos-dark rounded-[15px] ${
        slide.extraClass ?? ""
      }`;
      return (
        <div class={classes}>
          <Image
            src={slide.src}
            width={800}
            alt={slide.alt}
            class="object-cover h-[200px] md:h-[500px]"
          />
        </div>
      );
    })
  }
</section>
