---
import { Image } from "astro:assets";
import GradientDivider from "./GradientDivider.astro";
import dylan from "../../assets/dylan.jpg";
---

<section
  class="container mx-auto max-w-screen-lg px-7 lg:min-h-[500px] content-center font-cosmos prose md:prose-xl prose-headings:font-cosmos-space prose-headings:mt-5 prose-headings:text-white prose-headings:font-bold lg:prose-h1:text-7xl prose-h1:mt-0 prose-heading:transition-colors prose-heading:duration-300 prose-p:text-white/70 prose-p:mb-0 prose-p:transition-colors prose-p:duration-300 prose-img:mt-0 prose-img:mb-0 my-5"
>
  <div class="grid grid-cols-1 md:grid-cols-[auto,1fr] gap-10 items-start">
    <Image
      src={dylan}
      width={200}
      alt="Picture of Dylan"
      loading="eager"
      decoding="sync"
      class="w-40 sm:w-[200px] rounded-[15px]"
    />

    <div>
      <h1>
        <span class="gradient-underline">Welcome! I'm Dylan.</span>
      </h1>
      <p>
        I'm a web developer from Oklahoma with a physics background. When I'm
        not coding, you'll find me doing astrophotography, tinkering with 3D
        printers, gaming, working on DIY projects around my small acreage, or
        spending time outside with my dogs and cats.
      </p>

      <p>
        This is my space for keeping notes, testing ideas, working through
        whatever questions happen to grab my attention, and sharing some
        astrophotography. I'll be writing about physics, cognition, biology,
        computation, emergence, perception, programming. Really anything that
        seems worth exploring. Some posts might be technical, others more
        speculative or philosophical. We'll see where it goes.
      </p>
    </div>
  </div>
</section>

<GradientDivider class="mt-10 lg:mt-[50px]" />
