---
import { ClientRouter } from "astro:transitions";
import SeoHead from "../components/general/SeoHead.astro";
import Header from "../components/general/Header.astro";
import Footer from "../components/general/Footer.astro";
import "../css/style.css";

const { postData } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="view-transition" content="same-origin" />
    <meta name="color-scheme" content="dark" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed"
      href="./rss.xml"
    />
    <SeoHead postData={postData} />
    <link
      rel="preload"
      href="/fonts/inter-v12-latin_latin-ext-regular.woff2"
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/inter-v12-latin_latin-ext-700.woff2"
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/space-grotesk-v15-latin_latin-ext-regular.woff2"
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/space-grotesk-v15-latin_latin-ext-600.woff2"
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/space-grotesk-v15-latin_latin-ext-700.woff2"
      as="font"
      crossorigin
    />
    <ClientRouter />
  </head>

  <body class="font-cosmos-inter bg-cosmos-dark text-cosmos-white transition-colors duration-300">
    <Header />
    <slot />

    <Footer />
  </body>
</html>
